[GENERAL]
# some more output
debug = False

[SETTINGS]
# Target path where the given file is copied/moved to
target= \\nas\vm\Container\sabnzb\FileWatcher

# Action which should be specified. Options: MOVE, COPY
action = COPY

# If action = MOVE - switch to COPY on error
move_switch = True

# Allow duplicate files is going to add "... (1).nzb". If disabled the files is not handled (and error shown)
allow_duplicates = False

# close after seconds, 0 = immediatly (in success and error case)
close_success = 3