[GENERAL]
# some more output
debug = False

[SETTINGS]
# Target path where the given file is copied/moved to
target= \\nas\vm\Container\sabnzb\Test

# Action which should be specified. Options: MOVE, COPY
action = COPY

# If action = MOVE - switch to COPY on error
move_switch = True

# Allow duplicate files is going to add a number in the prefix like "1 - name of the file.nzb". If disabled the files is not handled (and error shown)
allow_duplicates = False

# close after seconds, 0 = immediatly
close_success = 3

# if no password is found - ask to enter the password and appends it at the end (for details how to extract the password, see 'password_extraction_method' below)
ask_for_password = True

# how the system should try to extract the password:
# - None: no password detection (if 'ask_for_password' is True it will always ask for a password!)
# - OnlyName: only extract from filename using brakets {{}}
# - OnlyNzbMetadata: only extract from nzb file metadata
# - FilenameOverNzbMetadata: first try to get from filename, then from nzb metadata
# - NzbMetadataOverFilename: first try to get from nzb metadata, then from filename
password_extraction_method = FilenameOverNzbMetadata